### Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
dist/
pkg/
.DS_Store

ca.key
ca.cert
ca.srl
service.key
service.csr
service.pem
ca-org.cert
ca-vault.cert

vimonade
